<p-toolbar class="navbar-sticky w-full px-3 md:px-5 lg:px-6 xl:px-8" styleClass="m-3 shadow-4">
  <div class="flex align-items-center w-full justify-content-between">
    <!-- Menú  -->
    <div class="flex align-items-center">
      <p-menubar [model]="menuItems" styleClass="border-none shadow-2 bg-transparent p-0" />
    </div>
    
    <!-- Botón de tema -->
    <div class="flex align-items-center">
      <p-togglebutton
        [(ngModel)]="dark"
        [onIcon]="'pi pi-sun'"
        [offIcon]="'pi pi-moon'"
        [onLabel]="'Light'"
        [offLabel]="'Dark'"
        (onChange)="toggleDark()"
        styleClass="ml-2"
      ></p-togglebutton>
    </div>
  </div>
</p-toolbar>
