<div class="flex w-full">
  <div class="w-full mx-3 md:mx-5 lg:mx-6 xl:mx-8">
    <p-card styleClass="mt-4">
      <div class="grid">
        <div class="col-12 md:col-6 flex flex-column justify-content-center">
          <h2 class="text-3xl mb-2">Hi, my name is</h2>
          <h1 class="text-7xl font-bold m-0">Mateo Díaz Gómez</h1>
          <p class="text-xl line-height-3 mb-4">I'm a software engineer with a passion for project development and
            software development.
          <div class="flex gap-5 mb-2">
            <a href="https://github.com/carlomagnowhite" target="_blank">
              <i class="devicon-github-original-wordmark" style="font-size: 2.5rem"></i>
            </a>
            <a href="https://gitlab.com/matt.diaz.gomez" target="_blank">
              <i class="devicon-gitlab-plain-wordmark colored" style="font-size: 2.5rem"></i>
            </a>
            <a href="https://www.linkedin.com/in/mateo-díaz-gómez-044966216" target="_blank">
              <i class="devicon-linkedin-plain colored" style="font-size: 2.5rem"></i>
            </a>
            <a href="mailto:mateo19dg@gmail.com" target="_blank">
              <i class="pi pi-envelope" style="font-size: 2.5rem"></i>
            </a>
          </div>
        </div>
        <div class="col-12 md:col-6 flex align-items-center justify-content-center">
          <p-image src="assets/images/avatar.png" alt="Avatar" width="400" [preview]="true" imageClass="border-round" />
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="flex w-full mb-4">
  <div class="w-full mx-3 md:mx-5 lg:mx-6 xl:mx-8">
    <p-card header="My experience timeline" styleClass="mt-4">
      <p-timeline [value]="events" align="alternate" [align]="'alternate'">
        <ng-template #marker let-event>
          <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
            [style]="{ 'background-color': event.color }">
            <i [class]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template #content let-event>
          <p-card [header]="event.position" [subheader]="event.place" styleClass="shadow-8">
            <span class="text-lg text-gray-500 mb-2">{{ event.project }}</span> <br>
            <span class="text-sm text-gray-500">{{ event.date }}</span>
            <p-divider>
              <strong>
                🔧 Responsabilities
              </strong>
            </p-divider>
            <p *ngFor="let responsibility of event.responsibilities">
              ✔ {{ responsibility }}
            </p>
            <p-divider>
              <strong>
                💻 Technologies
              </strong>
            </p-divider>
            <div class="mt-4">
              <i *ngFor="let tech of event.technologies"
              [class]="tech.icon + (tech.colored ? ' colored' : '')"
              pTooltip="{{tech.tooltip}}"
              tooltipPosition="top"
              [attr.aria-label]="tech.tooltip"
              class="technology-icon"
              style="font-size: 3.5rem; margin-right: 1rem">
            </i>
            </div>
          </p-card>
        </ng-template>
      </p-timeline>
    </p-card>
  </div>
</div>