

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'devicon/devicon.min.css';

/* Estilos globales */
:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
}


/* En móvil, hazlo más pequeño y centrado */
@media (max-width: 600px) {
  .my-toast-responsive {
    max-width: 80%;
    font-size: 0.85rem;
    transform: translateX(10%) !important;
    margin: 0 auto !important;
  }
}